:root {
  --dark: #111827;
  --darker: #1a202c;
  --darkest: #0f172a;
  --grey: #718096;
  --pink: #d53f8c;
  --purple: #805ad5;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }

  .enter {
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
  }

  input,
  button,
  a {
    font-size: 1rem;
  }
}

input::placeholder {
  color: var(--grey);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(
    135deg,
    var(--darkest),
    var(--dark),
    var(--darker)
  );
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 80px;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
h3 {
  font-size: 40px;
  background-image: linear-gradient(to right, var(--purple), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.head {
  text-align: center;
  margin-bottom: 20px;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: var(--darkest);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

input,
button,
a {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  flex: 1 1 60%;
  margin-bottom: 1rem;
  background-color: var(--darker);
  color: var(--light);
  font-size: 1.25rem;
}

button,
a {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  border: 2px solid var(--purple);
}
